html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  padding-top: 70px;
  margin-bottom: 60px;
}
.body-color {
  background-color: #c6d5c1;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 55px;
  background-color: #EEE;
  padding-top: 20px;
  margin: 0 auto -70px;
}


.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;

}

.navbar-header .navbar-brand {
  padding: 0px;
}
.navbar-brand > img {
  margin: 0px;
  display: block;
  max-height: 100%;
  width: 100%;
}
